/* ToDo: clean this up >:( */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
h1 {
  text-align: center;
  color: #005f73; /* Teal color from the logo */
  position: relative;
}

/* Buttons */
button {
  background-color: #e63946; /* Pink/Red color from the logo */
  color: white;
  border: none;
  padding: 8px 16px; /* Slightly smaller padding for all buttons */
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  background-color: #d62828; /* Darker shade of the red/pink color */
}

#backButton {
  position: relative;
  left: 20px;
}

/* Checkbox field */
.dataSelect {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
}

.pieChartContainer {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
}

legend {
  text-align: center;
}

.employeeSelect {
  float: left;
  position: relative;
}

.monthSelect {
  float: right;
  position: relative;
}

input {
  cursor: pointer;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}
